:root {
  --background-color: #e5e5e5;
  --header-color: #212121;
  --text-color: #757575;
  --h1-background: #2f303a;
  --web-studio-blue: #2196f3;
  --black: #000000;
  --white: #ffffff;
  --white6alpha: #ffffff99;
}
